<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1 class="display-4">
            Add New Post
        </h1>
    <form method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" class="form-control">
        </div>
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" name="author" id="author" class="form-control">
        </div>
        <div class="form-group">
            <label for="article">Text</label>
            <textarea name="article" id="article" class="form-control"></textarea>
        </div>
        {% csrf_token %}
        <input type="submit" value="Submit" class="btn btn-lg btn-block btn-success">
    </form>
    </div>
{% endblock %}