{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container">
        <h1 class="display-4">Create an Account</h1>
        <form method="post">
            <div class="form-group row">
                <label for="fname" class="col-form-label col-sm-2">First Name</label>
                <div class="input-group col-sm-10">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" id="fname" name="fname" onkeydown="validateFname()" onblur="validateFname()" onkeyup="validateFname()" >&nbsp;&nbsp;<div id="FnameError"></div>
                </div>
            </div>
            <div class="form-group row">
                <label for="lname" class="col-form-label col-sm-2">Last Name</label>
                <div class="input-group col-sm-10">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" id="lname" name="lname" onkeydown="validateLname()" onblur="validateLname()" onkeyup="validateLname()">
                    &nbsp;&nbsp;<div id="LnameError"></div>
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-form-label col-sm-2">Email</label>
                <div class="input-group col-sm-10">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-at"></i>
                        </span>
                    </div>
                    <input type="email" class="form-control" id="email" name="email" onkeydown="validateEmail()" onkeyup="validateEmail()" onblur="validateEmail()">
                    &nbsp;&nbsp;<div id="EmailError"></div>
                </div>
            </div>
            <div class="form-group row">
                <label for="pass" class="col-form-label col-sm-2">Password</label>
                <div class="input-group col-sm-10">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                    <input type="password" class="form-control" id="pass" name="pass" >
                </div>
            </div>
            <div class="form-group row">
                <label for="cpass" class="col-form-label col-sm-2">Confirm Password</label>
                <div class="input-group col-sm-10">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                    <input type="password" class="form-control" id="cpass" name="cpass" >
                </div>
            </div>
            <div class="form-group row">
                <label  class="col-form-label col-sm-2">
                    Gender
                </label>
                <div class="col-sm-10" style="margin-top: 8px">
                    <div class="form-check form-check-inline">
                        <input type="radio" id="female" name="gender" value="Female" class="form-check-input">
                        <label for="female" style="padding-left: 10px;" class="form-check-label">Female</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" id="male" name="gender" value="Male" class="form-check-input">
                        <label for="male" style="padding-left: 10px;" class="form-check-label">Male</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-2">Date of Birth</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col">
                            <select name="date" class="form-control" id="date">
                                <option value="0" selected>Date</option>
                                {% for n in days %}
                                    <option value="{{ n }}">{{ n }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <select name="month" class="form-control" id="month">
                                <option value="0" selected>Month</option>
                                {% for x in months %}
                                    <option value="{{ x }}">{{ x }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <select name="year" class="form-control" id="year">
                                <option selected value="0">Year</option>
                                {% for year in years %}
                                    <option value="{{ year }}">{{ year }}</option>
                                {%  endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            {% csrf_token %}
            <input type="submit" value="Signup" class="btn btn-lg btn-block btn-success">
            <p style="text-align: center;padding-top: 8px;">
                Already Have an Account <a href="{% url 'User:signin' %}">Login</a>
            </p>

        </form>
    </div>
    <script src="{% static 'js/formValidator.js' %}"></script>
    <script>
        $('form').submit(function (self) {
            self.preventDefault();
            fname = validateFname();
            lname = validateLname();
            email = validateEmail();
            if (lname || fname || email){
                alert('true')
            }
        });

    </script>
{% endblock %}